<tr>
  <td><%= booking.id %></td>
  <td><%= booking.customer.full_name %></td>
  <td><%= booking.starts_on %></td>
  <td><%= booking.ends_on %></td>
  <td><%= booking.archived_at %></td>
  <td><%= link_to 'show', booking_path(booking.uuid) %></td>
  <td><%= link_to 'archive', booking_path(booking.id), method: :delete %></td>
</tr>
