<tr>
  <td><%= booking.customer.full_name %></td>
  <td><%= booking.starts_on %></td>
  <td><%= booking.ends_on %></td>
  <td><%= link_to "Check this booking", booking_path(booking)%></td>
  <td><%= link_to "delete", @booking_delete%></td>
</tr>
