<tr>
  <td><%= booking.customer.full_name %></td>
  <td><%= booking.starts_on %></td>
  <td><%= booking.ends_on %></td>
  <td>
  <%= link_to "Check booking", booking_path(booking) %>
  <%= link_to "Archive booking", booking_path(booking), method: :delete%>
  </td>
</tr>
