<tr>
  <td><%= booking.customer.full_name %></td>
  <td><%= booking.starts_on %></td>
  <td><%= booking.ends_on %></td>
  <td><%= link_to "Show", booking %></td>
  <td><%= link_to "Archive", booking, method: :delete %></td>
</tr>
