<p><%= link_to 'back', bookings_path%></p>
<p><%= link_to 'archive', booking_path(@booking), method: :delete%></p>
<tr>
  <td><%= @booking.customer.full_name %></td>
  <td><%= @booking.starts_on %></td>
  <td><%= @booking.ends_on %></td>
</tr>
</br>
<%= raw @booking.attributes.map {|key, value| "kolumna: #{key}, a wartosc: #{value} <br/>"}.join(", ") %>
