<h2>Booking details</h2>

<div>
  <p>
    <span>Id: </span> <%= @booking.id %>
  </p>
  <p>
    <span>Customer name: </span> <%= @booking.customer.full_name %>
  </p>
    <span>Starts on: </span> <%= @booking.starts_on %>
  <p>
    <span>Ends on: </span> <%= @booking.ends_on %>
  </p>
  <p>
    <span>Archived at: </span> <%= @booking.archived_at %>
  </p>
  <%= link_to "Go Back", bookings_path  %>
  <%= link_to "Archive", booking_path(@booking.uuid), method: :delete%>
  
</div>