<p>Cześć <%= @booking.customer.full_name %>,</p>
<p>Dziękujemy za dokonanie rezerwacji, poniżej znajdują się szczegóły: </p>

<p><%= "(#{@booking.starts_on} - #{@booking.ends_on})" %></p>

<ul>
  <% @booking.items.each do |item| %>
    <li>
      <%= item.name %>
    </li>
  <% end %>
</ul>

<p>Potwierdź booking:</p>
<a href="<%= url_for confirm_booking_url(@booking.id) %>" target="_blank">Potwierdź rezerwacje</a>

<p>Jeżeli jednak chciałbyś zrezygnować, skorzystaj z linku poniżej: </p>

<a href="<%= url_for @booking %>" target="_blank">Anuluj rezerwacje</a>
